/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Centralizar tudo na tela */
html, body {
  height: 100%;
  background-color: white;
  font-family: 'Inter', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Moldura do celular */
.phone-frame {
  width: 440px;
  height: 956px;
  background-color: white;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tela interna */
.tela-logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo centralizado */
.logo-centralizada {
  width: 90%;
  max-width: 350px;
  height: auto;
}
/* Tela de cadastro*/
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
.logo {
  width: 200px;
  margin-bottom: 40px;
}

.botao-img {
  width: 100%;
  max-width: 280px;
  margin-bottom: 35px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.botao-img:hover {
  transform: scale(1.03);
}

.titulo-login {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: normal;
}

.label {
  font-size: 16px;
  margin: 10px 0 5px;
  display: block;
  text-align: left;
  width: 100%;
  max-width: 280px;
}

.campo-img {
  width: 100%;
  max-width: 280px;
  margin-bottom: 20px;
}

.aviso {
  color: red;
  font-size: 14px;
  margin: 5px 0;
}

.link-esqueci {
  color: #b13c3c;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.label, .link-esqueci{
  font-weight: 400px;
}

.botao-continuar{
  width: 100%;
    max-width: 280px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0 0;
    margin-right: 50px;
    margin-top: 50px;
}

.botao_continuar {
  width: 100%;
  max-width: 100px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.botao_continuar:hover {
  transform: scale(1.05);
}
